src/main/mule/retrivevalues.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="51ff7e7d-100f-4ba5-92db-6a643e505ccb" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="flights" />
	</db:config>
	<flow name="retrivevaluesFlow" doc:id="58d5d456-4c46-4c79-9306-a727f987ece1" >
		<logger level="INFO" doc:name="Logger" doc:id="3b2999f2-eeb3-4fe6-b135-d0e2be5c5475" message="message received..#[payload]"/>
		<db:select doc:name="Select" doc:id="30231441-025b-491e-a788-ac67d13a7bff" config-ref="Database_Config">
			<db:sql >select * from account where accountId=:accountId</db:sql>
			<db:input-parameters ><![CDATA[#[accountId:attributes.queryParams.accountId]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="5030d854-4712-4089-9dfd-61e3092be4c0" >
			<when expression="#[payload &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="4935bfd6-2bad-4044-a501-e9c49d650321" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="805daf63-86d4-4c52-b2b5-ecf4595ea738" type="DB_DETAILS" description="No record found"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="d6513fff-f4c2-4205-a925-2e37701edc55" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
